*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}
body{
	font-size: 13px;
	color: #555;
	font: 13px/20px "Open Sans",Arial,sans-serif;
}
.carousel-indicators li, .carousel-indicators li.active {
	border: none;
    background-color: #B5B3B5;
    -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:#fff;
    font-size: 25px;
}
		.overlay-text h2{
			font-family: 'MyriadProRegular';
			text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.18);
			margin: 0;
			font-size: 25px;
		}
		.overlay-text h1{
			text-transform: uppercase;
			font-family: 'MyriadProBold';
			text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.18);
			margin: 0;
			font-size: 25px;
		}
		.overlay-text .more{
			display: block;
			text-align: center;
			text-transform: uppercase;
			width: 165px;
			height: 40px;
			line-height: 40px;
			color: #fff;
			font-family: 'MyriadProRegular';
			font-size: 16px;
			margin-top: 15px;
			text-decoration: none !important;
			-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				     border-radius: 10px;
			background: #00829c;
			-webkit-box-shadow: 0px 2px 0px 0px rgba(3, 56, 79, 0.75);
			-moz-box-shadow:    0px 2px 0px 0px rgba(3, 56, 79, 0.75);
			box-shadow:         0px 2px 0px 0px rgba(3, 56, 79, 0.75);
		}
.overlay-table{
	display: table;
	width: 100%;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
.overlay-cell{
	display: table-cell;
	vertical-align: middle;
}
.overlay-text button{
    background-color: #00829C;
    color: #FFF;
    border: medium none;
    padding: 9px 43px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 7px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.bx_pagination_section_two{
	vertical-align: bottom;
	text-align: right;
	padding-top: 35px;
}

.bx_wsnw {
    color: #8D8D8D;
    font-size: 11px;
}
img{
	width: 100%;
	height: auto;
}
li{
	list-style: none;
}
/*body .container:first-of-type{
	width:1200px;
}*/
a:focus{
	outline: none;
}

label {
	font-weight: normal;
}
/*.row{
	margin: 0px 15px;
}*/
.container{
	max-width: 1200px;
	/*border:2px solid red;*/
	min-height: 100px;
	/*padding: 0px 32px;*/
	/*padding-bottom: 100px;*/
}
.cbp-hrsub-inner .col-md-4{
	text-align: left;
}
.contact-number{
	font-family: 'MyriadProRegular';
	margin-right: 15px;
	margin-top: 16px;
	float: right;
}

.news-container{
	padding-top: 15px;
	margin-bottom: 0;
}

.news-container > li{
	border-right: 1px solid #ededee;
}
.news-container > li:last-child{
	border-right: 0;
}

	.news-container .date{
		font-family: 'MyriadProRegular';
		font-size: 12px;
		color: #9e9e9e;
		text-transform: uppercase;
	}
	.news-container .title{
		font-family: 'MyriadProBold';
		color: #006f9f;
		font-size: 12px;
	}
	.news-container .content-description{
		font-size: 12px;
		color: #cccdcd;
		font-family: 'MyriadProRegular';
		line-height: 1.3;
	}






.contact-number h5, .contact-number h4{
	margin:0px;
}

.contact-number h5{
	text-align: right;
	font-size: 12px;
}
.contact-number h4{
	font-size: 21px;
}
.header i{
	left: -5px;
	position: relative;
	top: 1px;

}
.header .col-md-12:first-child{
	padding: 0px;
}
.logo-block{
	/*width:320px;*/
	/*border:1px solid white;*/
	display: inline-block;
	margin-left: 15px;
	vertical-align: top
}
.logo-block img{
	margin-top:10px;
}
/*.cbp-hrmenu ul{
	border:1px solid red;
}
.cbp-hrmenu li{
	border: 1px solid black;
}*/
.header .col-md-12:first-child{
	height: 100%;
}
#myCarousel img{
	width: 100%;
	max-height:400px;
}
.triangle-holder{
	position: absolute;
	bottom: 0px;
	width: 100%;
	
}
#triangle-2{
	width: 0;
    height: 0;
    border-bottom: 5vw solid #fff;
    border-left: 100vw solid transparent;
}
#triangle-1{
	width: 0;
    height: 0;
    border-bottom: 5vw solid #fff;
    border-right: 100vw solid transparent;
    float: left;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 9%;
    z-index: 15;
    width: 54%;
    padding-left: 0px;
    margin-left: -30%;
    text-align: center;
    list-style: outside none none;
    bottom: 30px;
}
.menu{
	padding: 40px 0px;
}
.menu .col-md-2{
	text-align: center;
}
.menu img, .menu i{
	width: auto;
	height: auto;
	color: #D2D3D3;
	font-size: 38px;
} 

.menu-img{
	height: 35px;
}
.menu h5{
	text-transform: uppercase;
	color: #006F9F;
	font-family: 'MyriadProBold';
	font-size: 12px;
	margin-bottom: 0;
}
.menu p{
	color: #D2D3D3;
	font-size: 12px;
	font-family: 'MyriadProRegular';
	line-height: 1.2;

}
.menu p.uppercase{
	text-transform: uppercase;
}
#title-search{
	padding: 20px 35px;
	background: rgb(85, 181, 142);
	background: -moz-linear-gradient(120deg, rgb(85, 181, 142) 14%, rgb(0, 130, 157) 75%);
	background: -webkit-linear-gradient(120deg, rgb(85, 181, 142) 14%, rgb(0, 130, 157) 75%);
	background: -o-linear-gradient(120deg, rgb(85, 181, 142) 14%, rgb(0, 130, 157) 75%);
	background: -ms-linear-gradient(120deg, rgb(85, 181, 142) 14%, rgb(0, 130, 157) 75%);
	background: linear-gradient(210deg, rgb(85, 181, 142) 14%, rgb(0, 130, 157) 75%);
}
.search-input{
	width: 85%;
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;
	border: none;
}
.header{
	background: rgb(85, 181, 142);
	background: -moz-linear-gradient(120deg, rgb(85, 181, 142) 14%, rgb(0, 130, 157) 75%);
	background: -webkit-linear-gradient(120deg, rgb(85, 181, 142) 14%, rgb(0, 130, 157) 75%);
	background: -o-linear-gradient(120deg, rgb(85, 181, 142) 14%, rgb(0, 130, 157) 75%);
	background: -ms-linear-gradient(120deg, rgb(85, 181, 142) 14%, rgb(0, 130, 157) 75%);
	background: linear-gradient(210deg, rgb(85, 181, 142) 14%, rgb(0, 130, 157) 75%);
	color:#fff;
	/*padding: 22px 8px;*/
	height:60px;
}
.header .col-md-3 h4{
	text-align: right;
	margin-bottom: 0px;
}
.header .col-md-3 h5{
	text-align: right;
	margin-top: 0px;
}
.btn-search{
	background-color: #009790;
	border: none;
	width: 10%;
	margin-left: 2%;
	padding: 5px;
	border-radius: 4px;
	color: #fff;
}
.btn-search:hover{
	background-color: #09817B;
}
.content-block{
	padding: 25px 0px 0px 0px;
	 -moz-column-width: 20em;
	 -webkit-column-width: 20em;
	 -moz-column-gap: 4px;
	 -webkit-column-gap:4px; 
}
.content-block img {
	padding: 0px 15px 0px 15px;
}
.content-block .date{
	padding-left: 15px;
	color:#D2D3D3;
}
.content-block .col-md-3{
	float: none;
	display: inline-block;
	 width:  100%; 
	 border-right: 1px solid #D2D3D3;
}
.content-block .col-md-3:nth-child(n+7){
	 border-right:none;
}
.content-block .title{
	padding-left: 15px;
	color: #006F9F;
	font-weight: bold;
	text-transform: uppercase;
}
.content-block p{
	padding-left: 15px;
	color:#D2D3D3;
/*	 white-space: nowrap; 
    width: 12em; 
    overflow: hidden;
    text-overflow: ellipsis;*/ 
 
}
/*div.box{
	height: 7em;
	overflow: hidden;
}*/
.actuality-block{
	border-top:1px solid #D2D3D3;
	border-bottom: 1px solid #D2D3D3;
	padding-bottom: 20px;
}
.actuality-block h3, 
.actuality-block .col-md-4{
	padding: 0px 0px;
}

	.actuality-block h3{
		font-family: 'MyriadProLight';
		color: #c1c1c1;
		font-size: 20px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

.image-container{
	float: left;
	clear: both;
	height: 128px;
	margin-right: 15px;
}
.rounded-image{
	border-radius: 50%;
	height: 100%;
	width: 75px;
	height: 75px;
	/*border:1px solid black;*/
	
	border-radius:50%;
}
/*.news-content{
	display: inline-block;
	height: 100%;
}*/

.actuality-block h5{
	color:#006F9F;
	text-decoration: underline;
	text-transform: uppercase;
	margin-top: 0px;
	font-family: 'MyriadProRegular';
	font-size: 12px;
}
.actuality-block p{
	color: #cccdcd;
	font-family: 'MyriadProRegular';
	line-height: 1.3;
	font-size: 12px;
}

.orders-block{
	padding: 15px 0 40px;
	font-size: 13px;
	position: relative;
}
ul{
	padding: 0px;
}
.orders-block h4{
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'MyriadProBold';
	color:#006F9F;
	border-bottom: 1px solid #ededee;
	padding-bottom: 2px;
	display: inline-block;
}
.orders-block span{
	color: #cccdcd;
	font-size: 12px;
	font-family: 'MyriadProRegular';
}
.orders-block a{
	font-family: 'MyriadProBold';
	color: #3585ac;
	font-size: 12px;
}
.orders-block p{
	margin-bottom: 3px;
}
.orders-block button{
	background-color: #00829C;
	color:#fff;
	border: none;
	padding: 9px 14px;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
			  border-radius: 5px;
	text-transform: uppercase;
	font-size: 10px;
	margin-top:7px;
	font-family: 'MyriadProRegular';
}
.orders-block .list{
	min-height: 140px;
}

.orders-block button:hover{
	background-color: #097287;
}
.contact-block{
	padding: 15px 0;
	border-top: 1px solid #D2D3D3;
}

	.contact-block h4{
		font-family: 'MyriadProLight';
		text-transform: uppercase;
		font-size: 20px;
		color: #c1c1c1;
		margin-bottom: 30px;
	}
.contact-block .adress{
	margin-bottom: 5px;
}
.contact-block .icon{
	float: left;
	width: 35px;
}
.contact-block .text{
	float: left;
	line-height: 1.4;
}
	.contact-block .text .title{
		text-transform: uppercase;
		font-size: 12px;
		color: #006f9f;
		font-family: 'MyriadProBold';
	}
	.contact-block .text .desc{
		color: #cccdcd;
		font-size: 12px;
		font-family: 'MyriadProRegular';
	}
	.contact-block .icon img{
		width: auto;
		height: auto;
	}


.input-block{
	margin-bottom: 12px;
}
.input-block p{
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #9e9e9e;
	font-size: 12px;
	font-family: 'MyriadProRegular';
}
	.input-block input[type="text"]{
		width: 95%;
		font-family: 'MyriadProRegular';
		height: 32px;
		background: #f0f1f1;
		outline: 0;
		border:0;
		padding-left: 10px;
		-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.36);
		-moz-box-shadow:    inset 0px 1px 1px 0px rgba(0, 0, 0, 0.36);
		box-shadow:         inset 0px 1px 1px 0px rgba(0, 0, 0, 0.36);
		-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
				  border-radius: 6px;
	}
	.input-block textarea{
		width: 95%;
		font-family: 'MyriadProRegular';
		resize: none;
		height: 85px;
		background: #f0f1f1;
		outline: 0;
		border:0;
		padding-left: 10px;
		-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.36);
		-moz-box-shadow:    inset 0px 1px 1px 0px rgba(0, 0, 0, 0.36);
		box-shadow:         inset 0px 1px 1px 0px rgba(0, 0, 0, 0.36);
		-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
				  border-radius: 6px;
	}
	.input-block input[type="submit"]{
		width: 115px;
		height: 30px;
		outline: 0;
		border:0;
		text-transform: uppercase;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
		        border-radius: 5px;
		background: #00829c;
		color: #fff;
		font-size: 10px;
		font-family: 'MyriadProRegular';
	}

.footer{
	background: rgb(36, 180, 188);
	background: -moz-linear-gradient(102deg, rgb(36, 180, 188) 30%, rgb(0, 130, 157) 70%);
	background: -webkit-linear-gradient(102deg, rgb(36, 180, 188) 30%, rgb(0, 130, 157) 70%);
	background: -o-linear-gradient(102deg, rgb(36, 180, 188) 30%, rgb(0, 130, 157) 70%);
	background: -ms-linear-gradient(102deg, rgb(36, 180, 188) 30%, rgb(0, 130, 157) 70%);
	background: linear-gradient(192deg, rgb(36, 180, 188) 30%, rgb(0, 130, 157) 70%);
	color:#fff;
	padding: 25px 15px;
}
.footer a{
	color: #fff;
	text-decoration: underline;
	line-height: 30px;
}
.footer i{
	float: left;
	padding-right: 5px;
}
.footer .col-md-3{
	padding-top: 5px;
}
.header a{
	color: #fff;
	/*padding: 34px 8px;*/
	text-transform: capitalize;
}
.header .col-md-7{
	padding: 0px;
}
.header ul li{
	/*display: inline-block;*/
	/*width: 25%;*/
	list-style: none;
}



.footer{
	font-family: 'MyriadProRegular';
	font-size: 12px;
	line-height: 1.3;
}
.footer a{
	line-height: 1.3;
}
.footer li{
	margin-bottom: 8px;
}
.footer p{
	font-family: 'MyriadProRegular';
	font-size: 12px;
	line-height: 1.3;
}
.flyout{
	position: absolute;
	z-index: 10000;
	margin-top: 33px;
	background-color: #EEE;
	left: 76px;
	width: 84%;
	background-color: #3584AB;
	padding: 0px 10px;
}
.flyout ul li{
	display: inline-block;
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid #fff;
}
.last {
	border: none;
}
.flyout ul, .flyout .col-md-6{
	padding: 0px;

}
.flyout .col-md-6:first-child{
	padding-right: 15px;
}
.header .dropdown-list{
	margin-bottom: 0px;
	height: 84px;
	padding: 30px 0px;
}
.header .dropdown-list li.active a{
	background-color: #3584AB;
}
.aside-menu {
	background-color: #F1F1F1;
	-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
			  border-radius: 6px;
	font-family: 'MyriadProRegular';
	font-size: 12px;
	
}
.aside-menu.collapse{
	display: block;
}

.aside-menu a{
	color: #BCBAB9;
	text-decoration: none;
	width: 100%;
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #d3d3d2;
}

.aside-menu li:last-of-type{
	border-bottom: none;
}

.aside-menu ul{
	margin-bottom: 0px;
}
.news-content .image{
	height: 365px;
	/*background-image: url('../images/pills.jpg');*/
	background-position: 50%;
}
/*.news-content p{
	color: #555;
}*/
.news-content p:first-of-type{
	padding: 25px 0px 0px;
	
}
.news-content p:last-of-type{
	padding: 0px 0px 30px;
	
}

.sovet-content{
	padding: 0px 0px 0px 55px;
	font-family: 'MyriadProRegular';
}

.item-views.list .item .title {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 5px;
}
.period {
	display: inline-block;
	margin-right: 5px;
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background: #999 none repeat scroll 0% 0%;
}
.wrap_pagination{
	text-align: center;
}
.item-views .item .section_name {
    color: #9AA7AF;
}

.sovet-content h4{
	color: #555;
	text-decoration: underline;
}

.panel-body ul{
	padding-left: 40px;
}

.panel-body ul li{
	list-style: outside;
	text-align: justify;
}
.news-content span{
	padding: 7px 5px;
	background-color: #C7C7C7;
	display: block;
	font-size: 12px;
	width: 100px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
}

.news-block .col-md-12{
	margin-bottom: 17px;
}
.news-block .col-md-12 h2{
	color: #006F9F;
	text-transform: uppercase;
}
.news-content a.back{
	color: #BCBAB9;
	text-decoration: underline;
	
}

.news-block .col-md-12 a{
	text-decoration: none;
	padding-right: 4px;
	text-transform: capitalize;
	color: #BCBAB9;
}
.aside-menu li {
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}
.aside-menu li.active{
	background-color: #00829D;
	margin-left: 0px;
	margin-right: 0px;


}
.aside-menu li:hover{
	background-color: #00829D;

}
.aside-menu li:hover a{
	color: #fff;
	border-bottom-color: transparent;
}
.aside-menu{
	padding-left: 0px;
	padding-right: 0px;
}

.aside-menu li.active a{
	color: #fff;
	border-bottom-color: transparent;
}
.information-content {
	padding-left: 30px;
	font-size: 13px;
}

.image-prof{
	text-align: center;
	margin-bottom: 40px;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	
	
	/*margin: 0px 47px 18px;*/
}

.image-prof img{
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.098);
	padding: 4px;
	width: 200px;
	height: 283;
}
.information-block .col-md-12 h2, .information-content p, .information-content label, .informaton-content a{
	color:#006F9F;
}
.information-content div:first-child{
	background-color: #EEE;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-right: 30px;

}
.information-block .col-md-12 a{
	text-decoration: none;
	padding-right: 4px;
	text-transform: capitalize;
	color: #BCBAB9;
}
.information-block .col-md-12 {
	margin-bottom: 17px;
}

.concurs-content li{
	list-style: outside;

}
.concurs-content{
	padding: 0px 0px 0px 55px;
	text-align: justify;
}
.concurs-content a{
	text-decoration: underline;
	color:#006F9F;
	font-size: 13px;
}
.concurs-block .col-md-12:first-of-type{
	margin-bottom: 17px;
}

.concurs-block .col-md-12:first-of-type a {
    text-decoration: none;
    padding-right: 4px;
    text-transform: capitalize;
    color: #BCBAB9;
}
.concurs-content a:hover{
	color:rgba(0, 111, 159, 0.83);
}
.history-content{
	padding: 0px 0px 0px 55px;
	color:#555;
}
.history-block{
	padding-bottom: 35px;
}
.history-block .col-md-12:first-of-type{
	margin-bottom: 17px;
}
.history-block .col-md-12 a {
    text-decoration: none;
    padding-right: 4px;
    text-transform: capitalize;
    color: #9e9e9e;
    font-size: 12px;
    font-family: 'MyriadProRegular';

}
.history-content h4{
	font-size: 24px;
	letter-spacing: normal;
	line-height: 27px;
}
.history-content .item{
	padding: 40px 20px;
	height: auto;
	overflow: auto;
}
.history-content p{
	color: #262626;
	text-align: justify;
}
.history-content .col-md-1{
	color: #08C;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}
.history-content .col-md-11{
	border-left: 2px solid #DFEAEE;
}
/*.plan p:first-of-type{
	text-align: center;
	font-weight: bold;
}*/
/*#bx_3218110189_170 p:first-child{
	text-align: center;
	font-weight: bold;
}*/

.news-date-time {
    color: #486DAA;
}
.plan .first-title{
	text-align: center;
	font-weight: bold;
}
table{
	margin-top:20px;
}
table.plan-rabota tr:nth-child(even){
	background-color: #F5F5F5;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}

table.plan-rabota p{
	margin-bottom: 0px;
	line-height: 30px;
	font-weight: normal;
}
table.plan-rabota tr td:last-child p {
	text-align: center;
}
table.plan-rabota tr td:nth-child(3) p {
	text-align: center;
}

.second-table tr td p{
	text-align: left;
}
.second-table tr td:nth-child(4) p{
	text-align: center;
}
.second-table tr:first-child td p, .second-table tr:nth-child(2) td p{
	text-align: center;
}
.staff-content .padding{
	padding: 0px 0px 0px 40px;
}
.staff-content h4:first-child{
	margin-top: 0px;
}
.staff-content img{
	max-height: 160px;
	max-width: 160px;
	vertical-align: middle;
}
.staff-block .col-md-12:first-of-type{
	margin-bottom: 17px;
}
.staff-block .col-md-12:first-of-type a{
	text-decoration: none;
	padding-right: 4px;
	text-transform: capitalize;
	color: #BCBAB9;
}
.staff-content .row{
	height: 221px;

}
.staff-content .col-md-4, .staff-content .col-md-8{
	height: 100%;
}
.staff-content .col-md-4{
	padding: 30px 20px;
}
.staff-content .margin{
	margin-bottom: 15px;
}
.staff-description i{
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #C0CCD3 none repeat scroll 0% 0%;
	color: #FFF;
	font-size: 12px;
	margin: 5px;
}
.staff-content .col-md-4{
	border: 1px solid #D7DEE3;
	text-align: center;
}
.staff-content .col-md-8{
	border-top: 1px solid #D7DEE3;
	border-right: 1px solid #D7DEE3;
	border-bottom: 1px solid #D7DEE3;
	
}
.staff-content .col-md-8:hover{
	background-color: #F1F1F1;
	border-bottom-color: #08C;
}
.staff-content .col-md-8:hover i{
	background-color: #F1F1F1;
	background: #08C none repeat scroll 0% 0%;
}

.list-content h4:first-of-type{
	margin-top: 0px;
}
.list-content .col-md-4{
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}
.list-content .third-table tr td:last-child p {
    text-align: left;
}
.list-content .col-md-4 a{
	color:#006F9F;
}
.third-table tr td:nth-child(3) p {
    text-align: left;
}

.list-content div:first-child{
	padding: 0px 0px 0px 25px;
}
.list-content, .list-content .col-md-12 {
	padding-right: 0px;
}
.detail .image.bordered {
    text-align: center;
    padding: 20px;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: #D7DEE3;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    margin-bottom: 30px;
}
.detail {
    margin-bottom: 25px;
}
.detail .image img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: top;
    display: inline-block;
}
.detail .content {
    margin-bottom: 20px;
}
.detail .property i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #C0CCD3 none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 12px;
}
.detail .image-right {
    float: right;
    margin-left: 15px;
    text-align: right;
    width: 237px;
}
.header .lines span{
	display: block;
	clear: both;
	width: 34px;
	height: 7px;
	border-radius: 1px;
	margin-bottom: 1px;
	background-color: black;
	cursor:pointer;
}
.header .lines {
	display: none;
}


.cbp-hrmenu {
	/*width: 638px;*/
	margin-left: 40px;
	height: 100%;
	/*border:1px solid yellow;*/
	display: inline-block;
	font-family: 'MyriadProRegular';
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	/*width: 90%;*/
	max-width: 70em;
	margin: 0 auto;
	text-align: center;
	
}

/*	#cbp-hrmenu {
		position: relative;
		top: 5px;
		left: -40px;
		background: #3685AC;
		border:1px solid red;
	}*/
.cbp-hrsub-inner h4{
	font-size: 16px;
}
.cbp-hrmenu > ul > li {
	display: inline-block;
	/*width: 25%;*/
	height: 60px;
	vertical-align: top;
}

.cbp-hrmenu > ul > li > a {
	padding: 19.5px 11px;
	color: #fff;
	display: inline-block;
}

/*.cbp-hrmenu > ul > li > a:hover {
	color: #47a3da;
}
*/
.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	/*color: #fff;*/
	text-decoration: none;
	
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: #3685AC;
	left: 0;
	z-index: 999;
	width: 100%;
}
.cbp-hropen{
	background-color:#3685AC; 
}
.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 3em;
	padding-top: 3em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 33%;
	float: left;
	padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
}

.cbp-hrsub h4 {
	color: #afdefa;
/*	padding: 2em 0 0.6em;*/
	margin-bottom: 15px;
	/*font-size: 160%;*/
	font-weight: 300;
}
.cbp-hrsub h4>a{
	color: #AFDEFA;
}
.icon-hide i{
	display: none;
}

.carousel-inner > .item{
	
}
/*.carousel-inner > .item:after{
	 border-bottom: -15px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 0;
  height: 0;

  content: "";
  display: block;
}*/

.pricazy-content{
    padding: 0px 0px 0px 55px;
}
.icon.colored,
.fa.colored {
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: white;
    font-size: 29px;
    margin: 0 20px 20px 0;
    background: #0088cc;
}
.dark_light_table{
	font-size: 16px;
	color: #000;
}
.grey_dark{
	font-size: 14px;
}


.toggle-menu{
	position: relative;
	top: 9px;
	margin-right: 15px;
	cursor: pointer;
	display: none;
	color: #00829c;
}



.contacts-wrapper h6 {
    font-size: 16px;
    letter-spacing: normal;
    line-height: 18px;
 	  margin-bottom: 25px;
 	  margin-top: 0;
}
	.contacts-wrapper h6 b{
		font-weight: normal;
		font-family: 'MyriadProBold';
	}
.news-title{
	font-family: 'MyriadProLight';
	text-transform: uppercase;
	font-size: 20px;
	color: #3585ac;
	max-width: 650px;
}
.single-post{
	padding-bottom: 60px;
}
.single-post .date{
	padding: 2px 5px;
	font-size: 12px;
	color: #fff;
	margin-bottom: 10px;
	background: #c8c8c7;
	display: inline-block;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		     border-radius: 5px;
}

	.single-post p{
		line-height: 1.3;
		margin-top: 25px;
		color: #007c96;
		font-size: 13px;
	}
	.single-post .back-news{
		font-size: 12px;
		color: #9e9e9e;
		text-decoration: underline;
		display: inline-block;
		margin-top: 10px;
	}









@media (max-width: 991px){
	.single-post{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;
	}
	.container{
		width:100%;
	}
	.header .lines {
		top: 27%;
		position: relative;
		left: 2%;
		display: block;
		width: 50px;
		text-align: center;
	}
	.header .lines span{
		background-color: grey;
	}
/*	.logo-block{
		position: relative;
		position: relative;
		margin: 0%;
		left: 21%;
		bottom: 19%;
	}*/
	.logo-block{
		margin-left:60px;
		position: relative;
		top: -26px;
	}
	.cbp-hrmenu > ul > li{
		display: block;
		text-align: left;
		height:48px;
		padding: 20px 0px;
	}
		
	.menu{
		display: none;
	}
	.icon-hide i{
	    display: inline;
	    padding: 22px;
	}
	.cbp-hropen .cbp-hrsub {
		padding-top: 0px;
	}
	#cbp-hrmenu{
		position: absolute;
		float: left;
		left: -300px;
		top: 60px;
		background-color: #3685AC;
		text-align: left;
		-moz-transition: left 0.3s linear 0s;
		-o-transition: left 0.3s linear 0s;
		-webkit-transition: left 0.3s linear 0s;
		transition: left 0.3s linear 0s;
		width: 300px;
		z-index: 9001;/* IT'S OVER 9000! */
		height: 500px;
		margin-left: 0px;
	}
	#cbp-hrmenu.open{
		left: 0px;
		left: 0px;
		transition: left 0.3s linear 0s;
	}
	.cbp-hrmenu .cbp-hrsub-inner > div {
	    width: 100%;
	}

	.cbp-hrmenu li{
		background-color: #3685AC;
	}

	.cbp-hrmenu li a{
		text-align: left;
	}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    	position: static;
	}
	.contact-number{
		margin-top: -15px;
	}
	.open { 
		left: 0; 
	}
	.overlay-text{
		left: 0;
		width: 100%;
		top: 10px;
		text-align: center;
	}
	.overlay-text .more{
		margin: 10px auto;
	}
	.contact-number{
		display: none;
	}
	.sovet-content{
		padding-left: 0;
		margin-top: 20px;
	}
	.toggle-menu{
		display: inline-block;
	}
	.aside-menu.collapse{
		display: none;
	}
	.aside-menu.collapse.in{
		display: block;
	}
}
@media (min-width: 992px){
	#triangle-2{
		width: 0;
	    height: 0;
	    border-bottom: 5vw solid #fff;
	    border-left: 1200px solid transparent;
	}
	#triangle-1{
		width: 0;
	    height: 0;
	    border-bottom: 5vw solid #fff;
	    border-right: 1200px solid transparent;
	    float: left;
	}
}

@media(max-width: 767px){
	.news-container > li{
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}
	.actuality-block{
		padding-left: 15px;
		padding-right: 15px;
	}
	.image-container{
		height: auto;
	}
	.contact-block,
	.maps{
		padding-left: 15px;
		padding-right: 15px;
	}
	.contact-block .text{
		float: none;
		margin-left: 35px;
	}
	.footer ul{
		margin-bottom: 20px;
	}
	.overlay-text h1,
	.overlay-text h2{
		font-size: 18px;
	}
	.overlay-text .more{
		width: 150px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		min-height: 150px;
	}
	.btn-search{
		width: 15%;
	}
	.search-input{
		width: 80%;
	}
	#title-search{
		padding: 20px 15px;
	}

}